__pycache__/
DataSocket_Jan/__pycache__/
SnowyDataSocket/__pycache__/
ImportLuc/__pycache__/
ImportLuc/checkpoints/*
ImportLuc/lightning_logs/*
wandb/*
*.py[cod]
ImportLuc/log/120257_execution.log
logs/20250203/182639_nan_checks.log
*.yaml
checkpoints/*